body {
  box-sizing: border-box;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  padding: 70px;
}

/* input field */

.searchBox {
  display: flex;
}

.multiSelectInputField {
  height: 30px;
  font-size: 24px;
  border-radius: 0px 10px 0px 0px;
  padding: 10px;
  outline: none;
  border-color: transparent;
  position: absolute;
}

.multiSelectBoxContainer {
  max-height: 200px;
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
  overflow: auto;
  border-top: 0px;
}

.closeOptionMenu {
  font-size: 30px;
  position: absolute;
  right: 2%;
  top: 23%;
  cursor: pointer;
}

.closeOptionMenu:hover {
  color: red;
}

.searchButton {
  background: white;
  color: lightblue;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px;
  font-size: 24px;
  border-radius: 10px;
  height: 72px;
  cursor: pointer;
  z-index: 1;
}

.searchButton:hover {
  background: white;
  color: lightblue;
  border: 2px solid lightblue;
}

.searchDisable {
  background: lightgrey;
  color: black;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px;
  font-size: 24px;
  border-radius: 10px;
  height: 72px;
  cursor: not-allowed;
  z-index: 1;
}

/* dropdown panel */

.dropdownLi {
  list-style: none;
  font-size: 30px;
  padding: 3px;
}

li:hover {
  background-color: lightblue;
  color: white;
}

.checkbox {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.noRecords {
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.error {
  font-size: 24px;
  margin-top: 20px;
  color: red;
}

.loadingText {
  font-size: 24px;
  margin-top: 20px;
  color: green;
}

/* selected options as chip on input field */

.chip {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  background: lightblue;
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
}

.chip:hover {
  color: black;
}

.inputChipContainer {
  height: 53px;
  font-size: 24px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  border: 1px solid black;
  position: relative;
  width: 90%;
}

.chipUl {
  display: inline-block;
}

.removeChip {
  background-color: lightblue;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.removeChip:hover {
  color: white;
}

/* payload Css */

.payloadContainer {
  margin-top: 20px;
}

.payload {
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
